In [54]:
 pip install phonenumbers

Requirement already satisfied: phonenumbers in /opt/anaconda3/lib/python3.12/site-packages (9.0.5)
Note: you may need to restart the kernel to use updated packages.

In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [56]:
df1 = pd.read_csv('Vsae--2022-01-01--2023-01-01.csv', header = 1)
df3 = pd.read_csv('Vsae--2024-01-01--2025-01-01.csv',header = 1)
df4 = pd.read_csv('Vsae--2025-01-01--2025-12-31.csv', header = 1)
df2 = pd.read_csv('Vsae--2023-01-01--2024-01-01.csv', header = 1)

In [57]:
df1

,Item,Availability,Availability date,Booking created by,Booking ID,Created At,Last Booked By,Availability.1,Contact,Phone,# of Pax,Subtotal,Total Tax,Total,Total Paid,Processing Fees,Total Paid after Processing Fees,Affiliate
0,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805649,2022-01-29 @ 07:14pm,Online,2022-01-29 @ 07:30pm,Soline destais,+33 7 83 18 41 49,1,€16.06,€1.44,€17.50,€17.50,€0.82,€16.68,NaN
1,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805309,2022-01-29 @ 07:11pm,Online,2022-01-29 @ 07:30pm,Roy Reintjes,683350593,1,€5.50,€0.50,€6.00,€6.00,€0.29,€5.71,NaN
2,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805277,2022-01-29 @ 07:11pm,Online,2022-01-29 @ 07:30pm,Clarke Fitzsimmons,06 85523839,1,€5.50,€0.50,€6.00,€6.00,€0.48,€5.52,NaN
3,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107804627,2022-01-29 @ 07:04pm,Online,2022-01-29 @ 07:30pm,Denise,06 43271695,2,€41.28,€3.72,€45.00,€45.00,€0.29,€44.71,NaN
4,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107803954,2022-01-29 @ 06:58pm,Online,2022-01-29 @ 07:30pm,Kianoesh Niazi,06 39596998,2,€41.28,€3.72,€45.00,€45.00,€0.29,€44.71,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5579,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#148364345,2022-12-05 @ 03:19pm,Online,2022-12-18 @ 07:00pm,Aziya,06 86189641,2,€39.00,€0.00,€39.00,€39.00,€0.29,€38.71,NaN
5580,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#148180993,2022-12-03 @ 08:41pm,Online,2022-12-18 @ 07:00pm,Ed Keeling,+353 86 851 5731,2,€39.00,€0.00,€39.00,€39.00,€0.29,€38.71,NaN
5581,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#148029905,2022-12-02 @ 10:13am,Online,2022-12-18 @ 07:00pm,Amy Moolevliet,06 21340171,2,€34.00,€0.00,€34.00,€34.00,€0.29,€33.71,NaN
5582,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#146647359,2022-11-17 @ 04:35pm,Online,2022-12-18 @ 07:00pm,Violet Koppe,06 55888213,3,€43.36,€0.00,€43.36,€43.36,€0.29,€43.07,NaN
5583,4 items,168 availabilities,148 dates,14 users,NaN,NaN,NaN,NaN,NaN,NaN,11789,"€220,068.69","€16,119.54","€236,188.23","€235,536.40","€3,714.19","€231,822.21",NaN

In [58]:
merged_df = pd.concat([df1, df2, df3, df4], axis=0, ignore_index=True)

In [59]:
clean_df = merged_df.drop_duplicates()

In [60]:
clean_df = clean_df.drop(columns = ['Contact', 'Booking created by', 'Last Booked By', 'Affiliate', 'Total Tax', 'Total', 'Total Paid', 'Processing Fees', 'Total Paid after Processing Fees'])

In [61]:
import phonenumbers

def extract_country_code(number):
    if pd.isna(number): # kept all the NA's to make sure there is no shift
        return np.nan
    try:
        parsed = phonenumbers.parse(number, 'NL')  # NL default
        return f'+{parsed.country_code}'
    except phonenumbers.NumberParseException:
        return '+31'  # NL default

clean_df['Phone'] = clean_df['Phone'].apply(extract_country_code)

In [62]:
# Ignore how bad this looks <3, it works
showlist = ['Improv Spectacular | Comedy Show',
 'Last Minute Stand-Ins',
 'Shot of Improv',
 'Sunday Night Live',
 'The Famous Boom Chicago Improv Comedy Show',
 'Tragedy + Time = Comedy',
 'WTF Improv',
 'Laugh Out Proud',
 'The Comedy Embassy',
 'The Good, The Bad, and The Algorithm']

clean_df['is_Improvspec'] = (clean_df["Item"] == showlist[0]).astype(int)
clean_df['is_lastminute'] = (clean_df["Item"] == showlist[1]).astype(int)
clean_df['is_Shots'] = (clean_df["Item"] == showlist[2]).astype(int)
clean_df['is_Sundaylive'] = (clean_df["Item"] == showlist[3]).astype(int)
clean_df['is_Famousimprov'] = (clean_df["Item"] == showlist[4]).astype(int)
clean_df['is_Tragedy'] = (clean_df["Item"] == showlist[5]).astype(int)
clean_df['is_Wtf'] = (clean_df["Item"] == showlist[6]).astype(int)
clean_df["is_Laughproud"] = (clean_df["Item"] == showlist[7]).astype(int)
clean_df['is_Comedyembassy'] = (clean_df["Item"] == showlist[8]).astype(int)
#is_Goodbadalgo = (clean_df["Item"] == showlist[9]).astype(int) # Let this be the base case, leave this column out

In [63]:
# removes non-show items
for i, show in enumerate(clean_df['Item']):
    if show not in showlist:
        clean_df = clean_df.drop(index = i)

In [64]:
clean_df['Availability'] = clean_df['Availability'].str.replace(r'^.*@ ', '', regex=True)

In [65]:
clean_df.rename(columns={'Availability': 'Show Time'}, inplace=True)

In [66]:
clean_df['Availability date'] = clean_df['Availability date'].str.replace('/', '-', regex=False)

# Convert to datetime safely
clean_df['Availability date'] = pd.to_datetime(
    clean_df['Availability date'], 
    dayfirst=True, 
    errors='coerce'
)

#clean_df

In [67]:
# df_weather = pd.read_csv('/Users/noeoberle/Boom chicago/Weather/export.csv')
df_weather = pd.read_csv('export.csv')
clean_df_weather = df_weather.drop(columns = ['tmin', 'tmax', 'snow', 'wdir', 'wspd', 'wpgt', 'pres', 'tsun'])
clean_df_weather['date'] = pd.to_datetime(clean_df_weather['date'])

clean_df_weather['date'] = clean_df_weather['date'].dt.date
#clean_df_weather

In [68]:
clean_df_weather['date'] = pd.to_datetime(df_weather['date'])
clean_df['Availability date'] = pd.to_datetime(clean_df['Availability date'])

# Merge on the date
df_combined = pd.merge(
    clean_df, 
    clean_df_weather, 
    left_on='Availability date', 
    right_on='date', 
    how='left'
)


df_combined

,Item,Show Time,Availability date,Booking ID,Created At,Availability.1,Phone,# of Pax,Subtotal,is_Improvspec,...,is_Shots,is_Sundaylive,is_Famousimprov,is_Tragedy,is_Wtf,is_Laughproud,is_Comedyembassy,date,tavg,prcp
0,Improv Spectacular | Comedy Show,7:30pm – 9:30pm,2022-01-29,#107805649,2022-01-29 @ 07:14pm,2022-01-29 @ 07:30pm,+33,1,€16.06,1,...,0,0,0,0,0,0,0,2022-01-29,9.3,0.0
1,Improv Spectacular | Comedy Show,7:30pm – 9:30pm,2022-01-29,#107805309,2022-01-29 @ 07:11pm,2022-01-29 @ 07:30pm,+31,1,€5.50,1,...,0,0,0,0,0,0,0,2022-01-29,9.3,0.0
2,Improv Spectacular | Comedy Show,7:30pm – 9:30pm,2022-01-29,#107805277,2022-01-29 @ 07:11pm,2022-01-29 @ 07:30pm,+31,1,€5.50,1,...,0,0,0,0,0,0,0,2022-01-29,9.3,0.0
3,Improv Spectacular | Comedy Show,7:30pm – 9:30pm,2022-01-29,#107804627,2022-01-29 @ 07:04pm,2022-01-29 @ 07:30pm,+31,2,€41.28,1,...,0,0,0,0,0,0,0,2022-01-29,9.3,0.0
4,Improv Spectacular | Comedy Show,7:30pm – 9:30pm,2022-01-29,#107803954,2022-01-29 @ 06:58pm,2022-01-29 @ 07:30pm,+31,2,€41.28,1,...,0,0,0,0,0,0,0,2022-01-29,9.3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33695,WTF Improv,8pm – 10pm,2025-06-04,#261065063,2024-12-16 @ 11:44am,2025-06-04 @ 08:00pm,+49,20,€375.78,0,...,0,0,0,0,1,0,0,NaT,NaN,NaN
33696,WTF Improv,8pm – 10pm,2025-06-11,#267122747,2025-01-27 @ 07:54pm,2025-06-11 @ 08:00pm,+1,3,€64.68,0,...,0,0,0,0,1,0,0,NaT,NaN,NaN
33697,WTF Improv,8pm – 10pm,2025-06-18,#275071025,2025-03-22 @ 07:59pm,2025-06-18 @ 08:00pm,+1,2,€43.12,0,...,0,0,0,0,1,0,0,NaT,NaN,NaN
33698,WTF Improv,8pm – 10pm,2025-06-25,#272310966,2025-03-05 @ 08:37pm,2025-06-25 @ 08:00pm,+1,2,€43.12,0,...,0,0,0,0,1,0,0,NaT,NaN,NaN
33699,WTF Improv,8pm – 10pm,2025-06-25,#270529059,2025-02-21 @ 07:57pm,2025-06-25 @ 08:00pm,+1,4,€86.24,0,...,0,0,0,0,1,0,0,NaT,NaN,NaN

In [69]:
df_combined['date'] = pd.to_datetime(df_combined['date'])
df_combined['weekday'] = df_combined['date'].dt.day_name()

In [70]:
df_combined['weekend_flag'] = df_combined['weekday'].isin(['Friday', 'Saturday', 'Sunday']).astype(int)

In [71]:
df_combined['# of Nationals'] = (df_combined['Phone'] == '+31')*df_combined['# of Pax']

In [72]:
df_combined['Subtotal'] = (
    df_combined['Subtotal']
    .str.replace('€', '', regex=False)     
    .str.replace(',', '', regex=False)     
    .astype(float)                         
)

grouped_df = df_combined.groupby(['Item', 'date']).agg({
    'Show Time': 'first',
    '# of Pax': 'sum',
    'Subtotal': 'sum',
    'Booking ID': 'count',
    'tavg': 'mean',
    'prcp': 'mean',
    'weekday': 'first',
    'weekend_flag': 'first',
    '# of Nationals': 'sum',
    'is_Improvspec': 'first', # dummy variables for showtype
    'is_lastminute': 'first',
    'is_Shots': 'first',
    'is_Sundaylive': 'first',
    'is_Famousimprov': 'first',
    'is_Wtf': 'first',
    'is_Laughproud': 'first',
    'is_Comedyembassy': 'first'
}).reset_index()


grouped_df.rename(columns={
    '# of Pax': 'total_pax',
    'Subtotal': 'total_revenue',
    'Booking ID': 'num_bookings',
    'tavg': 'avg_temp',
    'prcp': 'avg_prcp'
}, inplace=True)

grouped_df['Perc_Nationals'] = 100*grouped_df['# of Nationals']/grouped_df['total_pax']
grouped_df = grouped_df.drop(columns='# of Nationals')

In [73]:
grouped_df

,Item,date,Show Time,total_pax,total_revenue,num_bookings,avg_temp,avg_prcp,weekday,weekend_flag,is_Improvspec,is_lastminute,is_Shots,is_Sundaylive,is_Famousimprov,is_Wtf,is_Laughproud,is_Comedyembassy,Perc_Nationals
0,Improv Spectacular | Comedy Show,2022-01-29,7:30pm – 9:30pm,137,2448.11,86,9.3,0.0,Saturday,1,1,0,0,0,0,0,0,0,75.912409
1,Improv Spectacular | Comedy Show,2022-02-05,7:30pm – 9:30pm,85,1688.80,48,6.5,4.3,Saturday,1,1,0,0,0,0,0,0,0,80.000000
2,Improv Spectacular | Comedy Show,2022-02-10,7:30pm – 9:30pm,6,114.68,3,6.8,NaN,Thursday,0,1,0,0,0,0,0,0,0,100.000000
3,Improv Spectacular | Comedy Show,2022-02-11,7:30pm – 9:30pm,29,908.28,18,4.7,1.6,Friday,1,1,0,0,0,0,0,0,0,79.310345
4,Improv Spectacular | Comedy Show,2022-02-12,7:30pm – 9:30pm,83,2556.86,51,2.6,0.0,Saturday,1,1,0,0,0,0,0,0,0,72.289157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,WTF Improv,2025-02-26,8pm – 10pm,93,1333.32,37,6.8,2.6,Wednesday,0,0,0,0,0,0,1,0,0,76.344086
1136,WTF Improv,2025-03-19,8pm – 10pm,70,1014.62,26,7.9,0.0,Wednesday,0,0,0,0,0,0,1,0,0,60.000000
1137,WTF Improv,2025-03-26,8pm – 10pm,99,517.34,22,8.4,0.0,Wednesday,0,0,0,0,0,0,1,0,0,17.171717
1138,WTF Improv,2025-04-02,8pm – 10pm,67,716.74,27,11.6,0.0,Wednesday,0,0,0,0,0,0,1,0,0,29.850746
1139,WTF Improv,2025-04-09,8pm – 10pm,109,1068.22,30,7.9,0.0,Wednesday,0,0,0,0,0,0,1,0,0,12.844037

In [74]:
# Shot of Improv has weird Show Times!!!
vec = []
for i in range(len(grouped_df['Show Time'])-1):
    if grouped_df['Show Time'][i] != grouped_df['Show Time'][i+1]:
        vec.append(i)
vec.append(1139)

# for item in vec:
#     print(item, grouped_df['Item'][item], grouped_df['date'][item], grouped_df['Show Time'][item], '\n')

grouped_df.iloc[475]

Item                     Shot of Improv
date                2024-11-02 00:00:00
Show Time             10:15pm – 3/11/24
total_pax                            57
total_revenue                    773.72
num_bookings                         29
avg_temp                           10.4
avg_prcp                            0.2
weekday                        Saturday
weekend_flag                          1
is_Improvspec                         0
is_lastminute                         0
is_Shots                              1
is_Sundaylive                         0
is_Famousimprov                       0
is_Wtf                                0
is_Laughproud                         0
is_Comedyembassy                      0
Perc_Nationals                68.421053
Name: 475, dtype: object

In [75]:
grouped_df

,Item,date,Show Time,total_pax,total_revenue,num_bookings,avg_temp,avg_prcp,weekday,weekend_flag,is_Improvspec,is_lastminute,is_Shots,is_Sundaylive,is_Famousimprov,is_Wtf,is_Laughproud,is_Comedyembassy,Perc_Nationals
0,Improv Spectacular | Comedy Show,2022-01-29,7:30pm – 9:30pm,137,2448.11,86,9.3,0.0,Saturday,1,1,0,0,0,0,0,0,0,75.912409
1,Improv Spectacular | Comedy Show,2022-02-05,7:30pm – 9:30pm,85,1688.80,48,6.5,4.3,Saturday,1,1,0,0,0,0,0,0,0,80.000000
2,Improv Spectacular | Comedy Show,2022-02-10,7:30pm – 9:30pm,6,114.68,3,6.8,NaN,Thursday,0,1,0,0,0,0,0,0,0,100.000000
3,Improv Spectacular | Comedy Show,2022-02-11,7:30pm – 9:30pm,29,908.28,18,4.7,1.6,Friday,1,1,0,0,0,0,0,0,0,79.310345
4,Improv Spectacular | Comedy Show,2022-02-12,7:30pm – 9:30pm,83,2556.86,51,2.6,0.0,Saturday,1,1,0,0,0,0,0,0,0,72.289157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,WTF Improv,2025-02-26,8pm – 10pm,93,1333.32,37,6.8,2.6,Wednesday,0,0,0,0,0,0,1,0,0,76.344086
1136,WTF Improv,2025-03-19,8pm – 10pm,70,1014.62,26,7.9,0.0,Wednesday,0,0,0,0,0,0,1,0,0,60.000000
1137,WTF Improv,2025-03-26,8pm – 10pm,99,517.34,22,8.4,0.0,Wednesday,0,0,0,0,0,0,1,0,0,17.171717
1138,WTF Improv,2025-04-02,8pm – 10pm,67,716.74,27,11.6,0.0,Wednesday,0,0,0,0,0,0,1,0,0,29.850746
1139,WTF Improv,2025-04-09,8pm – 10pm,109,1068.22,30,7.9,0.0,Wednesday,0,0,0,0,0,0,1,0,0,12.844037

In [76]:
filtered_df = grouped_df[grouped_df['Item'] == 'Laugh Out Proud']
filtered_df

,Item,date,Show Time,total_pax,total_revenue,num_bookings,avg_temp,avg_prcp,weekday,weekend_flag,is_Improvspec,is_lastminute,is_Shots,is_Sundaylive,is_Famousimprov,is_Wtf,is_Laughproud,is_Comedyembassy,Perc_Nationals
355,Laugh Out Proud,2024-10-03,10:15pm – 4/10/24,30,232.06,17,10.8,0.0,Thursday,0,0,0,0,0,0,0,1,0,86.666667
356,Laugh Out Proud,2024-11-07,10:15pm – 11:15pm,46,421.89,23,7.0,0.0,Thursday,0,0,0,0,0,0,0,1,0,73.913043
357,Laugh Out Proud,2024-12-05,10:15pm – 11:15pm,35,311.80,19,6.7,17.0,Thursday,0,0,0,0,0,0,0,1,0,82.857143
358,Laugh Out Proud,2025-02-06,10:15pm – 11:15pm,80,669.41,42,3.9,0.0,Thursday,0,0,0,0,0,0,0,1,0,62.500000
359,Laugh Out Proud,2025-03-06,10:15pm – 11:15pm,70,586.88,38,8.2,0.0,Thursday,0,0,0,0,0,0,0,1,0,64.285714
360,Laugh Out Proud,2025-04-10,10:15pm – 11:15pm,56,444.74,30,9.1,0.0,Thursday,0,0,0,0,0,0,0,1,0,57.142857

In [77]:
grouped_df.isnull().sum()

Item                 0
date                 0
Show Time            0
total_pax            0
total_revenue        0
num_bookings         0
avg_temp             0
avg_prcp            27
weekday              0
weekend_flag         0
is_Improvspec        0
is_lastminute        0
is_Shots             0
is_Sundaylive        0
is_Famousimprov      0
is_Wtf               0
is_Laughproud        0
is_Comedyembassy     0
Perc_Nationals       0
dtype: int64

In [79]:
# Ensure you're working with numeric types and avoid division by zero or NaN
grouped_df["price_per_ticket"] = grouped_df["total_revenue"] / grouped_df["total_pax"]

# Replace infinite or NaN values with 0 (or another fallback if you prefer)
grouped_df["price_per_ticket"] = grouped_df["price_per_ticket"].replace([float("inf"), -float("inf")], pd.NA)
grouped_df["price_per_ticket"] = grouped_df["price_per_ticket"].fillna(0)

In [80]:
grouped_df

,Item,date,Show Time,total_pax,total_revenue,num_bookings,avg_temp,avg_prcp,weekday,weekend_flag,is_Improvspec,is_lastminute,is_Shots,is_Sundaylive,is_Famousimprov,is_Wtf,is_Laughproud,is_Comedyembassy,Perc_Nationals,price_per_ticket
0,Improv Spectacular | Comedy Show,2022-01-29,7:30pm – 9:30pm,137,2448.11,86,9.3,0.0,Saturday,1,1,0,0,0,0,0,0,0,75.912409,17.869416
1,Improv Spectacular | Comedy Show,2022-02-05,7:30pm – 9:30pm,85,1688.80,48,6.5,4.3,Saturday,1,1,0,0,0,0,0,0,0,80.000000,19.868235
2,Improv Spectacular | Comedy Show,2022-02-10,7:30pm – 9:30pm,6,114.68,3,6.8,NaN,Thursday,0,1,0,0,0,0,0,0,0,100.000000,19.113333
3,Improv Spectacular | Comedy Show,2022-02-11,7:30pm – 9:30pm,29,908.28,18,4.7,1.6,Friday,1,1,0,0,0,0,0,0,0,79.310345,31.320000
4,Improv Spectacular | Comedy Show,2022-02-12,7:30pm – 9:30pm,83,2556.86,51,2.6,0.0,Saturday,1,1,0,0,0,0,0,0,0,72.289157,30.805542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,WTF Improv,2025-02-26,8pm – 10pm,93,1333.32,37,6.8,2.6,Wednesday,0,0,0,0,0,0,1,0,0,76.344086,14.336774
1136,WTF Improv,2025-03-19,8pm – 10pm,70,1014.62,26,7.9,0.0,Wednesday,0,0,0,0,0,0,1,0,0,60.000000,14.494571
1137,WTF Improv,2025-03-26,8pm – 10pm,99,517.34,22,8.4,0.0,Wednesday,0,0,0,0,0,0,1,0,0,17.171717,5.225657
1138,WTF Improv,2025-04-02,8pm – 10pm,67,716.74,27,11.6,0.0,Wednesday,0,0,0,0,0,0,1,0,0,29.850746,10.697612
1139,WTF Improv,2025-04-09,8pm – 10pm,109,1068.22,30,7.9,0.0,Wednesday,0,0,0,0,0,0,1,0,0,12.844037,9.800183

In [81]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

df = grouped_df

y = df["total_pax"]
X = df.drop(columns=["total_pax", "date", "Show Time", "num_bookings", "Perc_Nationals", "total_revenue", "Item"])  # drop date/time columns unless explicitly used

# Identify column types
numeric_features = X.select_dtypes(include=["int64", "float64"]).columns.tolist()
categorical_features = X.select_dtypes(include=["object", "bool", "category"]).columns.tolist()

# Preprocessing for numeric data
numeric_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="mean"))
])

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("onehot", OneHotEncoder(handle_unknown="ignore", drop="if_binary"))
])

# Combine preprocessing steps
preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features)
    ]
)

# Create the modeling pipeline
model = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("regressor", LinearRegression())
])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model.fit(X_train, y_train)

# Predict and evaluate
y_pred = model.predict(X_test)
print("Mean Squared Error:", mean_squared_error(y_test, y_pred))
print("R^2 Score:", r2_score(y_test, y_pred))

Mean Squared Error: 978.6986890209043
R^2 Score: 0.5362886717970272

In [117]:
new_show = pd.DataFrame([{
    "avg_temp": 18.5,
    "avg_prcp": 0.0,
    "weekday": "Friday",
    "weekend_flag": 1,
    "is_Improvspec": 1,
    "is_lastminute": 0,
    "is_Shots": 0,
    "is_Sundaylive": 0,
    "is_Famousimprov": 0,
    "is_Wtf": 0,
    "is_Laughproud": 0,
    "is_Comedyembassy":0,
    "price_per_ticket":40
}])

# Predict total_pax using the trained pipeline
predicted_pax = model.predict(new_show)

print(f"Predicted total_pax for the new show: {predicted_pax[0]:.2f}")

Predicted total_pax for the new show: 71.12