In [1]:
import pandas as pd

In [47]:
df1 = pd.read_csv('Vsae--2022-01-01--2023-01-01.csv', header = 1)
df3 = pd.read_csv('Vsae--2024-01-01--2025-01-01.csv',header = 1)
df4 = pd.read_csv('Vsae--2025-01-01--2025-12-31.csv', header = 1)
df2 = pd.read_csv('Vsae--2023-01-01--2024-01-01.csv', header = 1)

In [25]:
df1

,Item,Availability,Availability date,Booking created by,Booking ID,Created At,Last Booked By,Availability.1,Contact,Phone,# of Pax,Subtotal,Total Tax,Total,Total Paid,Processing Fees,Total Paid after Processing Fees,Affiliate
0,Improv Spectacular | Comedy Show,6/1/23 @ 7:30pm – 9:30pm,6/1/2023,Online,#151834896,2023-01-06 @ 07:31pm,Online,2023-01-06 @ 07:30pm,Ian MacMenamin,06 24765687,2,€44.96,€4.04,€49.00,€49.00,€1.38,€47.62,NaN
1,Improv Spectacular | Comedy Show,6/1/23 @ 7:30pm – 9:30pm,6/1/2023,Online,#151826658,2023-01-06 @ 06:21pm,Online,2023-01-06 @ 07:30pm,Jeffrey Kool,06 41118009,2,€44.96,€4.04,€49.00,€49.00,€0.29,€48.71,NaN
2,Improv Spectacular | Comedy Show,6/1/23 @ 7:30pm – 9:30pm,6/1/2023,Online,#151823938,2023-01-06 @ 05:57pm,Online,2023-01-06 @ 07:30pm,Benjamin Webster,641784408,2,€44.96,€4.04,€49.00,€49.00,€1.38,€47.62,NaN
3,Improv Spectacular | Comedy Show,6/1/23 @ 7:30pm – 9:30pm,6/1/2023,Online,#151819834,2023-01-06 @ 05:16pm,Online,2023-01-06 @ 07:30pm,Marciano Vorstenbosch,06 21333881,2,€44.96,€4.04,€49.00,€49.00,€1.38,€47.62,NaN
4,Improv Spectacular | Comedy Show,6/1/23 @ 7:30pm – 9:30pm,6/1/2023,Online,#151819029,2023-01-06 @ 05:08pm,Online,2023-01-06 @ 07:30pm,Paula Anval,+34 674 09 36 57,1,€22.48,€2.02,€24.50,€24.50,€0.29,€24.21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9350,WTF Improv,20/12/23 @ 8pm – 9:30pm,20/12/2023,Online,#199589672,2023-11-14 @ 02:43pm,Online,2023-12-20 @ 08:00pm,Reinier van Heel,06 41335514,6,€115.32,€10.38,€125.70,€125.70,€0.29,€125.41,NaN
9351,WTF Improv,20/12/23 @ 8pm – 9:30pm,20/12/2023,Online,#196428638,2023-10-18 @ 05:42am,Online,2023-12-20 @ 08:00pm,Ross Hoppe,+1 804-317-7780,2,€38.44,€3.46,€41.90,€41.90,€1.22,€40.68,NaN
9352,WTF Improv,20/12/23 @ 8pm – 9:30pm,20/12/2023,Cherish,#202933062,2023-12-15 @ 02:29pm,Cherish,2023-12-20 @ 08:00pm,Sandra Garofano,06 29712492,2,€0.00,€0.00,€0.00,€0.00,€0.00,€0.00,NaN
9353,WTF Improv,20/12/23 @ 8pm – 9:30pm,20/12/2023,GetYourGuide API,#197377359,2023-09-10 @ 06:12pm,Macy,2023-12-20 @ 08:00pm,Aimée Rackliff,07543 863417,2,€38.44,€3.46,€41.90,€41.90,€0.00,€41.90,GetYourGuide - EUR - API
9354,7 items,235 availabilities,180 dates,20 users,NaN,NaN,NaN,NaN,NaN,NaN,20567,"€402,860.64","€30,487.30","€433,347.94","€433,377.00","€6,609.41","€426,767.59",NaN

In [27]:
df2

,Item,Availability,Availability date,Booking created by,Booking ID,Created At,Last Booked By,Availability.1,Contact,Phone,# of Pax,Subtotal,Total Tax,Total,Total Paid,Processing Fees,Total Paid after Processing Fees,Affiliate
0,Improv Spectacular | Comedy Show,5/1/24 @ 8pm – 10pm,5/1/2024,Online,#205640753,2024-01-05 @ 08:01pm,Online,2024-01-05 @ 08:00pm,Steffi,+49 176 76026164,2,€50.46,€4.54,€55.00,€55.00,€0.29,€54.71,NaN
1,Improv Spectacular | Comedy Show,5/1/24 @ 8pm – 10pm,5/1/2024,Online,#205632246,2024-01-05 @ 07:01pm,Online,2024-01-05 @ 08:00pm,Adam Rasmussen Arda,+44 7807 941110,1,€25.23,€2.27,€27.50,€27.50,€0.90,€26.60,NaN
2,Improv Spectacular | Comedy Show,5/1/24 @ 8pm – 10pm,5/1/2024,Online,#205627545,2024-01-05 @ 06:24pm,Online,2024-01-05 @ 08:00pm,Gabriel Odin,+33 6 58 96 15 35,1,€25.23,€2.27,€27.50,€27.50,€0.90,€26.60,NaN
3,Improv Spectacular | Comedy Show,5/1/24 @ 8pm – 10pm,5/1/2024,Online,#205627258,2024-01-05 @ 06:22pm,Online,2024-01-05 @ 08:00pm,Samuel Jaudel,+316624833723,2,€64.22,€5.78,€70.00,€70.00,€0.29,€69.71,NaN
4,Improv Spectacular | Comedy Show,5/1/24 @ 8pm – 10pm,5/1/2024,Online,#205626490,2024-01-05 @ 06:17pm,Online,2024-01-05 @ 08:00pm,Manon Boersen,06 21929589,2,€50.46,€4.54,€55.00,€55.00,€0.29,€54.71,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13407,WTF Improv,18/12/24 @ 8pm – 10pm,18/12/2024,Online,#258799737,2024-11-28 @ 10:52am,Online,2024-12-18 @ 08:00pm,Sebastiaan Szymczyk,06 81363321,3,€61.92,€5.58,€67.50,€67.50,€1.78,€65.72,NaN
13408,WTF Improv,18/12/24 @ 8pm – 10pm,18/12/2024,Online,#257849022,2024-11-20 @ 02:22pm,Online,2024-12-18 @ 08:00pm,Sylvie Makelberge,+32 472 36 49 32,1,€20.64,€1.86,€22.50,€22.50,€0.80,€21.70,NaN
13409,WTF Improv,18/12/24 @ 8pm – 10pm,18/12/2024,Online,#256021423,2024-11-05 @ 02:01pm,Online,2024-12-18 @ 08:00pm,Michael Moore,06 15232216,12,€247.68,€22.32,€270.00,€270.00,€6.24,€263.76,NaN
13410,WTF Improv,18/12/24 @ 8pm – 10pm,18/12/2024,Macy,#257233240,2024-11-15 @ 10:48am,Macy,2024-12-18 @ 08:00pm,Sophie 't Hart,NaN,1,€20.64,€1.86,€22.50,€22.50,€0.29,€22.21,NaN
13411,11 items,652 availabilities,249 dates,18 users,NaN,NaN,NaN,NaN,NaN,NaN,29214,"€569,320.15","€51,167.51","€620,487.66","€619,773.18","€9,862.63","€609,910.55",NaN

In [49]:
merged_df = pd.concat([df1, df2, df3, df4], axis=0)

In [51]:
merged_df

,Item,Availability,Availability date,Booking created by,Booking ID,Created At,Last Booked By,Availability.1,Contact,Phone,# of Pax,Subtotal,Total Tax,Total,Total Paid,Processing Fees,Total Paid after Processing Fees,Affiliate
0,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805649,2022-01-29 @ 07:14pm,Online,2022-01-29 @ 07:30pm,Soline destais,+33 7 83 18 41 49,1,€16.06,€1.44,€17.50,€17.50,€0.82,€16.68,NaN
1,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805309,2022-01-29 @ 07:11pm,Online,2022-01-29 @ 07:30pm,Roy Reintjes,683350593,1,€5.50,€0.50,€6.00,€6.00,€0.29,€5.71,NaN
2,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805277,2022-01-29 @ 07:11pm,Online,2022-01-29 @ 07:30pm,Clarke Fitzsimmons,06 85523839,1,€5.50,€0.50,€6.00,€6.00,€0.48,€5.52,NaN
3,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107804627,2022-01-29 @ 07:04pm,Online,2022-01-29 @ 07:30pm,Denise,06 43271695,2,€41.28,€3.72,€45.00,€45.00,€0.29,€44.71,NaN
4,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107803954,2022-01-29 @ 06:58pm,Online,2022-01-29 @ 07:30pm,Kianoesh Niazi,06 39596998,2,€41.28,€3.72,€45.00,€45.00,€0.29,€44.71,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5348,WTF Improv,11/6/25 @ 8pm – 10pm,11/6/2025,Online,#267122747,2025-01-27 @ 07:54pm,Online,2025-06-11 @ 08:00pm,Sean Sowers,+1 916-467-5853,3,€64.68,€5.82,€70.50,€70.50,€1.85,€68.65,NaN
5349,WTF Improv,18/6/25 @ 8pm – 10pm,18/6/2025,Online,#275071025,2025-03-22 @ 07:59pm,Online,2025-06-18 @ 08:00pm,Stacey L Henkel,+1 616-443-2383,2,€43.12,€3.88,€47.00,€47.00,€1.33,€45.67,NaN
5350,WTF Improv,25/6/25 @ 8pm – 10pm,25/6/2025,Online,#272310966,2025-03-05 @ 08:37pm,Online,2025-06-25 @ 08:00pm,joel nomkin,+1 602-312-7021,2,€43.12,€3.88,€47.00,€47.00,€1.33,€45.67,NaN
5351,WTF Improv,25/6/25 @ 8pm – 10pm,25/6/2025,Online,#270529059,2025-02-21 @ 07:57pm,Online,2025-06-25 @ 08:00pm,Jordan messler,+1 727-453-2522,4,€86.24,€7.76,€94.00,€94.00,€2.37,€91.63,NaN
5352,8 items,329 availabilities,125 dates,20 users,NaN,NaN,NaN,NaN,NaN,NaN,11530,"€208,813.15","€18,790.93","€227,604.08","€226,727.58","€3,513.03","€223,214.55",NaN

In [53]:
clean_df = merged_df.drop_duplicates()

In [55]:
clean_df

,Item,Availability,Availability date,Booking created by,Booking ID,Created At,Last Booked By,Availability.1,Contact,Phone,# of Pax,Subtotal,Total Tax,Total,Total Paid,Processing Fees,Total Paid after Processing Fees,Affiliate
0,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805649,2022-01-29 @ 07:14pm,Online,2022-01-29 @ 07:30pm,Soline destais,+33 7 83 18 41 49,1,€16.06,€1.44,€17.50,€17.50,€0.82,€16.68,NaN
1,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805309,2022-01-29 @ 07:11pm,Online,2022-01-29 @ 07:30pm,Roy Reintjes,683350593,1,€5.50,€0.50,€6.00,€6.00,€0.29,€5.71,NaN
2,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805277,2022-01-29 @ 07:11pm,Online,2022-01-29 @ 07:30pm,Clarke Fitzsimmons,06 85523839,1,€5.50,€0.50,€6.00,€6.00,€0.48,€5.52,NaN
3,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107804627,2022-01-29 @ 07:04pm,Online,2022-01-29 @ 07:30pm,Denise,06 43271695,2,€41.28,€3.72,€45.00,€45.00,€0.29,€44.71,NaN
4,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107803954,2022-01-29 @ 06:58pm,Online,2022-01-29 @ 07:30pm,Kianoesh Niazi,06 39596998,2,€41.28,€3.72,€45.00,€45.00,€0.29,€44.71,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5348,WTF Improv,11/6/25 @ 8pm – 10pm,11/6/2025,Online,#267122747,2025-01-27 @ 07:54pm,Online,2025-06-11 @ 08:00pm,Sean Sowers,+1 916-467-5853,3,€64.68,€5.82,€70.50,€70.50,€1.85,€68.65,NaN
5349,WTF Improv,18/6/25 @ 8pm – 10pm,18/6/2025,Online,#275071025,2025-03-22 @ 07:59pm,Online,2025-06-18 @ 08:00pm,Stacey L Henkel,+1 616-443-2383,2,€43.12,€3.88,€47.00,€47.00,€1.33,€45.67,NaN
5350,WTF Improv,25/6/25 @ 8pm – 10pm,25/6/2025,Online,#272310966,2025-03-05 @ 08:37pm,Online,2025-06-25 @ 08:00pm,joel nomkin,+1 602-312-7021,2,€43.12,€3.88,€47.00,€47.00,€1.33,€45.67,NaN
5351,WTF Improv,25/6/25 @ 8pm – 10pm,25/6/2025,Online,#270529059,2025-02-21 @ 07:57pm,Online,2025-06-25 @ 08:00pm,Jordan messler,+1 727-453-2522,4,€86.24,€7.76,€94.00,€94.00,€2.37,€91.63,NaN
5352,8 items,329 availabilities,125 dates,20 users,NaN,NaN,NaN,NaN,NaN,NaN,11530,"€208,813.15","€18,790.93","€227,604.08","€226,727.58","€3,513.03","€223,214.55",NaN

In [61]:
clean_df = clean_df.drop(columns = ['Contact', 'Booking created by', 'Last Booked By', 'Affiliate', 'Total Tax', 'Total', 'Total Paid', 'Processing Fees', 'Total Paid after Processing Fees'])