In [3]:
import pandas as pd

In [5]:
df1 = pd.read_csv('Vsae--2022-01-01--2023-01-01.csv', header = 1)
df3 = pd.read_csv('Vsae--2024-01-01--2025-01-01.csv',header = 1)
df4 = pd.read_csv('Vsae--2025-01-01--2025-12-31.csv', header = 1)
df2 = pd.read_csv('Vsae--2023-01-01--2024-01-01.csv', header = 1)

In [7]:
df1

,Item,Availability,Availability date,Booking created by,Booking ID,Created At,Last Booked By,Availability.1,Contact,Phone,# of Pax,Subtotal,Total Tax,Total,Total Paid,Processing Fees,Total Paid after Processing Fees,Affiliate
0,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805649,2022-01-29 @ 07:14pm,Online,2022-01-29 @ 07:30pm,Soline destais,+33 7 83 18 41 49,1,€16.06,€1.44,€17.50,€17.50,€0.82,€16.68,NaN
1,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805309,2022-01-29 @ 07:11pm,Online,2022-01-29 @ 07:30pm,Roy Reintjes,683350593,1,€5.50,€0.50,€6.00,€6.00,€0.29,€5.71,NaN
2,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805277,2022-01-29 @ 07:11pm,Online,2022-01-29 @ 07:30pm,Clarke Fitzsimmons,06 85523839,1,€5.50,€0.50,€6.00,€6.00,€0.48,€5.52,NaN
3,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107804627,2022-01-29 @ 07:04pm,Online,2022-01-29 @ 07:30pm,Denise,06 43271695,2,€41.28,€3.72,€45.00,€45.00,€0.29,€44.71,NaN
4,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107803954,2022-01-29 @ 06:58pm,Online,2022-01-29 @ 07:30pm,Kianoesh Niazi,06 39596998,2,€41.28,€3.72,€45.00,€45.00,€0.29,€44.71,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5579,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#148364345,2022-12-05 @ 03:19pm,Online,2022-12-18 @ 07:00pm,Aziya,06 86189641,2,€39.00,€0.00,€39.00,€39.00,€0.29,€38.71,NaN
5580,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#148180993,2022-12-03 @ 08:41pm,Online,2022-12-18 @ 07:00pm,Ed Keeling,+353 86 851 5731,2,€39.00,€0.00,€39.00,€39.00,€0.29,€38.71,NaN
5581,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#148029905,2022-12-02 @ 10:13am,Online,2022-12-18 @ 07:00pm,Amy Moolevliet,06 21340171,2,€34.00,€0.00,€34.00,€34.00,€0.29,€33.71,NaN
5582,Sunday Night Live,18/12/22 @ 7pm – 8:15pm,18/12/2022,Online,#146647359,2022-11-17 @ 04:35pm,Online,2022-12-18 @ 07:00pm,Violet Koppe,06 55888213,3,€43.36,€0.00,€43.36,€43.36,€0.29,€43.07,NaN
5583,4 items,168 availabilities,148 dates,14 users,NaN,NaN,NaN,NaN,NaN,NaN,11789,"€220,068.69","€16,119.54","€236,188.23","€235,536.40","€3,714.19","€231,822.21",NaN

In [9]:
df2

,Item,Availability,Availability date,Booking created by,Booking ID,Created At,Last Booked By,Availability.1,Contact,Phone,# of Pax,Subtotal,Total Tax,Total,Total Paid,Processing Fees,Total Paid after Processing Fees,Affiliate
0,Improv Spectacular | Comedy Show,6/1/23 @ 7:30pm – 9:30pm,6/1/2023,Online,#151834896,2023-01-06 @ 07:31pm,Online,2023-01-06 @ 07:30pm,Ian MacMenamin,06 24765687,2,€44.96,€4.04,€49.00,€49.00,€1.38,€47.62,NaN
1,Improv Spectacular | Comedy Show,6/1/23 @ 7:30pm – 9:30pm,6/1/2023,Online,#151826658,2023-01-06 @ 06:21pm,Online,2023-01-06 @ 07:30pm,Jeffrey Kool,06 41118009,2,€44.96,€4.04,€49.00,€49.00,€0.29,€48.71,NaN
2,Improv Spectacular | Comedy Show,6/1/23 @ 7:30pm – 9:30pm,6/1/2023,Online,#151823938,2023-01-06 @ 05:57pm,Online,2023-01-06 @ 07:30pm,Benjamin Webster,641784408,2,€44.96,€4.04,€49.00,€49.00,€1.38,€47.62,NaN
3,Improv Spectacular | Comedy Show,6/1/23 @ 7:30pm – 9:30pm,6/1/2023,Online,#151819834,2023-01-06 @ 05:16pm,Online,2023-01-06 @ 07:30pm,Marciano Vorstenbosch,06 21333881,2,€44.96,€4.04,€49.00,€49.00,€1.38,€47.62,NaN
4,Improv Spectacular | Comedy Show,6/1/23 @ 7:30pm – 9:30pm,6/1/2023,Online,#151819029,2023-01-06 @ 05:08pm,Online,2023-01-06 @ 07:30pm,Paula Anval,+34 674 09 36 57,1,€22.48,€2.02,€24.50,€24.50,€0.29,€24.21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9350,WTF Improv,20/12/23 @ 8pm – 9:30pm,20/12/2023,Online,#199589672,2023-11-14 @ 02:43pm,Online,2023-12-20 @ 08:00pm,Reinier van Heel,06 41335514,6,€115.32,€10.38,€125.70,€125.70,€0.29,€125.41,NaN
9351,WTF Improv,20/12/23 @ 8pm – 9:30pm,20/12/2023,Online,#196428638,2023-10-18 @ 05:42am,Online,2023-12-20 @ 08:00pm,Ross Hoppe,+1 804-317-7780,2,€38.44,€3.46,€41.90,€41.90,€1.22,€40.68,NaN
9352,WTF Improv,20/12/23 @ 8pm – 9:30pm,20/12/2023,Cherish,#202933062,2023-12-15 @ 02:29pm,Cherish,2023-12-20 @ 08:00pm,Sandra Garofano,06 29712492,2,€0.00,€0.00,€0.00,€0.00,€0.00,€0.00,NaN
9353,WTF Improv,20/12/23 @ 8pm – 9:30pm,20/12/2023,GetYourGuide API,#197377359,2023-09-10 @ 06:12pm,Macy,2023-12-20 @ 08:00pm,Aimée Rackliff,07543 863417,2,€38.44,€3.46,€41.90,€41.90,€0.00,€41.90,GetYourGuide - EUR - API
9354,7 items,235 availabilities,180 dates,20 users,NaN,NaN,NaN,NaN,NaN,NaN,20567,"€402,860.64","€30,487.30","€433,347.94","€433,377.00","€6,609.41","€426,767.59",NaN

In [11]:
merged_df = pd.concat([df1, df2, df3, df4], axis=0)

In [13]:
merged_df

,Item,Availability,Availability date,Booking created by,Booking ID,Created At,Last Booked By,Availability.1,Contact,Phone,# of Pax,Subtotal,Total Tax,Total,Total Paid,Processing Fees,Total Paid after Processing Fees,Affiliate
0,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805649,2022-01-29 @ 07:14pm,Online,2022-01-29 @ 07:30pm,Soline destais,+33 7 83 18 41 49,1,€16.06,€1.44,€17.50,€17.50,€0.82,€16.68,NaN
1,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805309,2022-01-29 @ 07:11pm,Online,2022-01-29 @ 07:30pm,Roy Reintjes,683350593,1,€5.50,€0.50,€6.00,€6.00,€0.29,€5.71,NaN
2,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805277,2022-01-29 @ 07:11pm,Online,2022-01-29 @ 07:30pm,Clarke Fitzsimmons,06 85523839,1,€5.50,€0.50,€6.00,€6.00,€0.48,€5.52,NaN
3,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107804627,2022-01-29 @ 07:04pm,Online,2022-01-29 @ 07:30pm,Denise,06 43271695,2,€41.28,€3.72,€45.00,€45.00,€0.29,€44.71,NaN
4,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107803954,2022-01-29 @ 06:58pm,Online,2022-01-29 @ 07:30pm,Kianoesh Niazi,06 39596998,2,€41.28,€3.72,€45.00,€45.00,€0.29,€44.71,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5348,WTF Improv,11/6/25 @ 8pm – 10pm,11/6/2025,Online,#267122747,2025-01-27 @ 07:54pm,Online,2025-06-11 @ 08:00pm,Sean Sowers,+1 916-467-5853,3,€64.68,€5.82,€70.50,€70.50,€1.85,€68.65,NaN
5349,WTF Improv,18/6/25 @ 8pm – 10pm,18/6/2025,Online,#275071025,2025-03-22 @ 07:59pm,Online,2025-06-18 @ 08:00pm,Stacey L Henkel,+1 616-443-2383,2,€43.12,€3.88,€47.00,€47.00,€1.33,€45.67,NaN
5350,WTF Improv,25/6/25 @ 8pm – 10pm,25/6/2025,Online,#272310966,2025-03-05 @ 08:37pm,Online,2025-06-25 @ 08:00pm,joel nomkin,+1 602-312-7021,2,€43.12,€3.88,€47.00,€47.00,€1.33,€45.67,NaN
5351,WTF Improv,25/6/25 @ 8pm – 10pm,25/6/2025,Online,#270529059,2025-02-21 @ 07:57pm,Online,2025-06-25 @ 08:00pm,Jordan messler,+1 727-453-2522,4,€86.24,€7.76,€94.00,€94.00,€2.37,€91.63,NaN
5352,8 items,329 availabilities,125 dates,20 users,NaN,NaN,NaN,NaN,NaN,NaN,11530,"€208,813.15","€18,790.93","€227,604.08","€226,727.58","€3,513.03","€223,214.55",NaN

In [15]:
clean_df = merged_df.drop_duplicates()

In [17]:
clean_df

,Item,Availability,Availability date,Booking created by,Booking ID,Created At,Last Booked By,Availability.1,Contact,Phone,# of Pax,Subtotal,Total Tax,Total,Total Paid,Processing Fees,Total Paid after Processing Fees,Affiliate
0,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805649,2022-01-29 @ 07:14pm,Online,2022-01-29 @ 07:30pm,Soline destais,+33 7 83 18 41 49,1,€16.06,€1.44,€17.50,€17.50,€0.82,€16.68,NaN
1,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805309,2022-01-29 @ 07:11pm,Online,2022-01-29 @ 07:30pm,Roy Reintjes,683350593,1,€5.50,€0.50,€6.00,€6.00,€0.29,€5.71,NaN
2,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107805277,2022-01-29 @ 07:11pm,Online,2022-01-29 @ 07:30pm,Clarke Fitzsimmons,06 85523839,1,€5.50,€0.50,€6.00,€6.00,€0.48,€5.52,NaN
3,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107804627,2022-01-29 @ 07:04pm,Online,2022-01-29 @ 07:30pm,Denise,06 43271695,2,€41.28,€3.72,€45.00,€45.00,€0.29,€44.71,NaN
4,Improv Spectacular | Comedy Show,29/1/22 @ 7:30pm – 9:30pm,29/1/2022,Online,#107803954,2022-01-29 @ 06:58pm,Online,2022-01-29 @ 07:30pm,Kianoesh Niazi,06 39596998,2,€41.28,€3.72,€45.00,€45.00,€0.29,€44.71,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5348,WTF Improv,11/6/25 @ 8pm – 10pm,11/6/2025,Online,#267122747,2025-01-27 @ 07:54pm,Online,2025-06-11 @ 08:00pm,Sean Sowers,+1 916-467-5853,3,€64.68,€5.82,€70.50,€70.50,€1.85,€68.65,NaN
5349,WTF Improv,18/6/25 @ 8pm – 10pm,18/6/2025,Online,#275071025,2025-03-22 @ 07:59pm,Online,2025-06-18 @ 08:00pm,Stacey L Henkel,+1 616-443-2383,2,€43.12,€3.88,€47.00,€47.00,€1.33,€45.67,NaN
5350,WTF Improv,25/6/25 @ 8pm – 10pm,25/6/2025,Online,#272310966,2025-03-05 @ 08:37pm,Online,2025-06-25 @ 08:00pm,joel nomkin,+1 602-312-7021,2,€43.12,€3.88,€47.00,€47.00,€1.33,€45.67,NaN
5351,WTF Improv,25/6/25 @ 8pm – 10pm,25/6/2025,Online,#270529059,2025-02-21 @ 07:57pm,Online,2025-06-25 @ 08:00pm,Jordan messler,+1 727-453-2522,4,€86.24,€7.76,€94.00,€94.00,€2.37,€91.63,NaN
5352,8 items,329 availabilities,125 dates,20 users,NaN,NaN,NaN,NaN,NaN,NaN,11530,"€208,813.15","€18,790.93","€227,604.08","€226,727.58","€3,513.03","€223,214.55",NaN

In [19]:
clean_df = clean_df.drop(columns = ['Contact', 'Booking created by', 'Last Booked By', 'Affiliate', 'Total Tax', 'Total', 'Total Paid', 'Processing Fees', 'Total Paid after Processing Fees'])

In [23]:
clean_df['Availability'] = clean_df['Availability'].str.replace(r'^.*@ ', '', regex=True)

In [27]:
clean_df.rename(columns={'Availability': 'Show Time'}, inplace=True)
clean_df

,Item,Show Time,Availability date,Booking ID,Created At,Availability.1,Phone,# of Pax,Subtotal
0,Improv Spectacular | Comedy Show,7:30pm – 9:30pm,29/1/2022,#107805649,2022-01-29 @ 07:14pm,2022-01-29 @ 07:30pm,+33 7 83 18 41 49,1,€16.06
1,Improv Spectacular | Comedy Show,7:30pm – 9:30pm,29/1/2022,#107805309,2022-01-29 @ 07:11pm,2022-01-29 @ 07:30pm,683350593,1,€5.50
2,Improv Spectacular | Comedy Show,7:30pm – 9:30pm,29/1/2022,#107805277,2022-01-29 @ 07:11pm,2022-01-29 @ 07:30pm,06 85523839,1,€5.50
3,Improv Spectacular | Comedy Show,7:30pm – 9:30pm,29/1/2022,#107804627,2022-01-29 @ 07:04pm,2022-01-29 @ 07:30pm,06 43271695,2,€41.28
4,Improv Spectacular | Comedy Show,7:30pm – 9:30pm,29/1/2022,#107803954,2022-01-29 @ 06:58pm,2022-01-29 @ 07:30pm,06 39596998,2,€41.28
...,...,...,...,...,...,...,...,...,...
5348,WTF Improv,8pm – 10pm,11/6/2025,#267122747,2025-01-27 @ 07:54pm,2025-06-11 @ 08:00pm,+1 916-467-5853,3,€64.68
5349,WTF Improv,8pm – 10pm,18/6/2025,#275071025,2025-03-22 @ 07:59pm,2025-06-18 @ 08:00pm,+1 616-443-2383,2,€43.12
5350,WTF Improv,8pm – 10pm,25/6/2025,#272310966,2025-03-05 @ 08:37pm,2025-06-25 @ 08:00pm,+1 602-312-7021,2,€43.12
5351,WTF Improv,8pm – 10pm,25/6/2025,#270529059,2025-02-21 @ 07:57pm,2025-06-25 @ 08:00pm,+1 727-453-2522,4,€86.24
5352,8 items,329 availabilities,125 dates,NaN,NaN,NaN,NaN,11530,"€208,813.15"

In [29]:
clean_df['Availability date'] = clean_df['Availability date'].str.replace('/', '-', regex=False)